@import 'mixins';

.chat{
    
    &-list{
        width: 100%;

        .q-field{
            background: white;
            width: 100%;
            z-index: 5000;
            padding: 1rem 1rem;
            margin: 0;
            margin-bottom: 1rem;
            border-bottom: 1px solid $lightBg;

            &__inner{
                background: $lightBg;
                border-radius: 50px;
                padding: 0 1rem;
            }
        }

        .q-slide-item{
            margin-bottom: .7rem;

            &__right{
                background: $error;
            }
        }

        .q-list{
            padding: 0 1rem;
        }

        @include customItem(black, darken($lightBg, 40%), 1rem, .8rem, .04rem);
    }

    &-room{
        padding: 1rem;

        .q-message{

            &-text{
                
                &--sent{
                    color: lighten($primary, 65%);
                }

                &--received{
                    color: $lightBg;
                }
            }

            &-label{
                background: $accent;
                width: 40%;
                margin-left: auto;
                margin-right: auto;
                padding: .5rem;
                border-radius: 50px;
                color: $primary;
                font-weight: bold;
            }

            &-container{
                margin-bottom: 1rem;
            }

            &-sent{

                .q-avatar{
                    margin-left: .5rem;
                }
            }
        
            &-received{
                
                .q-avatar{
                    margin-right: .5rem;
                }
            }
        }
    }
}