.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    h1{
        font-size: 1.3rem;
        font-family: $fontRound;
        text-transform: capitalize;
        font-weight: bold;
        margin-top: 1.5rem;
    }

    h2{
        font-size:.8rem;
        margin: 0;
        padding: 0;
        line-height: 2;
        color: darken($lightBg, 60%);
    }

    .q-btn{
        align-self: flex-start;
        width: 100%;
        position: fixed;
        background: white;
        top: 0;
        left: 0;
        border-radius: 0;
        padding: .5rem;
        z-index: 9999;

        &__wrapper{
            width: 60px;
            
            &::before{
                box-shadow: none;
            }
        }
    }

    ul{
        padding: 0;
        margin: 0;

        li{
            padding: 0;
            margin: 0;
            list-style: none;
            font-family: $fontRound;
            font-size: 1rem;
            margin-bottom: 1rem;
            color: darken($lightBg, 60%);

            span{
                font-family: $fontRound;
                color: $primary;
                font-weight: bold;
            }
        }
    }

    .q-img{
        border-radius: 100%;
        width: 50%;
        margin-top: 5rem;
    }

    &-info{
        width: 90%;
        margin-top: 2rem;
    }
}