// app global css in SCSS form
@import 'palette';
@import 'fonts';

img{
    max-width: 100%;
    height: auto;
}

h1, p{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 1;
}

body{
    font-family: $fontText;
}

@import 'header';
@import 'feed-item';
@import 'main-menu';