// app global css in SCSS form
@import 'palette';
@import 'fonts';

img{
    max-width: 100%;
    height: auto;
}

*{
    box-sizing: border-box;
    outline: none;
}

h1, p{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 1;
}

body{
    font-family: $fontText;
}

.q-drawer--right{
    background: $primary;
}

.q-hoverable:hover > .q-focus-helper{
    background: none;
}

.q-field--standard .q-field__control:hover:before{
    border: none;
}

.q-field--standard .q-field__control:before{
    border: none;
}

.q-field--standard .q-field__control:after{
    height: 0;
}

@import 'MainLayout';
@import 'CreateAccount';
@import 'FeedFollowing';
@import 'Maps';
@import 'ProfilePage';
@import 'MyProfile';
@import 'AboutMe';
@import 'ChatList';
@import 'ChatRoom';