.chatroom-body{
    padding: 1rem;

    .q-message-text--sent{
        background: lighten($primary, 60%);
        color: lighten($primary, 60%);
        
        span{
            color: $primary;
        }
    }

    .q-message-text--received{
        background: $lightBg;
        color: $lightBg;
        
        span{
            color: $primary;
        }
    }

    .q-message-label{
        background: $accent;
        width: 30%;
        margin: 0 auto 1rem auto;
        padding: .5rem;
        border-radius: 50px;
        color: $primary;
    }
}