.chat-layout-header{

    img{
        padding: 0;
        margin: 0;
    }
}

.chat-text-box{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: $primary;
    height: 70px;
    padding: 0 .5rem;
    display: flex;
    align-items: center;

    .q-field{
        width: 100%;
        padding: 1rem 1rem;

        &__inner{
            background: white;
            border-radius: 50px;
            padding: 0 1rem;
        }
    }

    input{
        text-decoration: none;
    }

    .q-btn{
        background: $accent;
        border-radius: 100%;
    }
}