.feed-item{
    display: flex;
    flex-flow: column nowrap;
    
    header{
        display: flex;
        padding: 1rem;
        align-items: center;
    }

    &-avatar{
        width: 18%;
        overflow: hidden;
        border-radius: 100%;
        padding-right: 1rem;

        img{            
            border-radius: 100%;
            display: block;
        }
    }

    &-pic{

        img{            
            display: block;
        }
    }

    &-info{

        h1{
            font-weight: bold;
            padding-bottom: .5rem;
            font-family: $fontRound;
        }

        p{
            font-size: .9rem;
            color: darken($lightBg, 40%);
        }
    }

    &-btns{
        background: $lightBg;
        padding: .5rem 1rem;
        display: flex;

        .btn{

            &-like{
                display: flex;
                align-items: center;

                img{
                    width: 20px;
                    display: block;
                }

                .like-counter{
                    font-size: 1rem;
                    display: block;
                    margin-left: .4rem;
                    color: darken($lightBg, 40%);
                }
            }

            &-msg{
                display: flex;
                align-items: center;
                margin-left: 1rem;

                img{
                    width: 20px;
                    display: block;
                }

                .msg-counter{
                    font-size: 1rem;
                    display: block;
                    margin-left: .4rem;
                    color: darken($lightBg, 40%);
                }
            }
        }
    }
}