.main-menu{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: $primary;
    height: 70px;
    padding: 0 .5rem;
    display: flex;
    align-items: center;

    .q-btn__wrapper:before{
        box-shadow: none;
    }

    .q-toolbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .btn{

        &-home, &-map, &-camera, &-paw{
            width: 30px;
            background-repeat: no-repeat;
            background-size: 90%;
            background-position: center;
        }

        &-home{
            background-image: url('../assets/home.svg');
        }

        &-map{
            background-image: url('../assets/map.svg');
        }

        &-camera{
            background-image: url('../assets/map.svg');
        }

        &-paw{
            background-image: url('../assets/paw.svg');
        }
    }

    .q-router-link--exact-active{

        .btn{

            &-home, &-map, &-camera, &-paw{
                width: 30px;
                background-repeat: no-repeat;
                background-size: 90%;
                background-position: center;
            }
    
            &-home{                
                background-image: url('../assets/home-active.svg');
            }

            &-map{
                background-image: url('../assets/map-active.svg');
            }

            &-paw{
                background-image: url('../assets/paw-active.svg');
            }
        }
    }
}