.profile{

    &-info{

        .q-list{
            display: flex;
            padding-top: .8rem;

            span{
                margin: 0 .5rem;
            }

            .btn-about{
                margin: 0;
            }
        }
    }
    
    &-feed{

        .q-btn__wrapper{            
            padding: 0;
            margin: 0;
            
            &:before{
                box-shadow: none;
            }
        }
    }
}

.myprofile{

    &-header{
        margin-bottom: 1rem;
    }
}