.comment-area{
    padding: 1rem;

    ul{
        padding: 0;
        margin: 0;
        list-style: none;

        li{
            padding: 0;
            margin: 0 0 .5rem 0;

            a{
                padding: 0;
                margin: 0;
                min-height: 0;
                font-weight: bold;
                color: $primary;
                font-family: $fontRound;
                text-decoration: none;
            }

            p{
                font-size: .8rem;
                color: darken($lightBg, 30%);
                padding: .1rem 0 .3rem 0;
            }
        }
    }
}