.profile{

    &-header{
        display: flex;
        padding: 1.5rem 1.5rem .8rem 1.5rem;
    }

    &-avatar{
        width: 25%;

        img{
            border-radius: 100%;
        }
    }

    &-info{
        width: 75%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 0 0 0 1rem;

        .q-item{
            min-height: 0;
        }

        h1{
            font-weight: bold;
            text-transform: capitalize;
        }

        p{
            font-size: .8rem;
            margin-top: .5rem;
            color: darken($lightBg, 40%);
        }

        .btn-about{
            padding: 0;
            margin: 0;
            margin-top: .8rem;
            font-weight: bold;
            color: $primary;
            font-size: 1.1rem;
        }
    }

    &-feed{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .2rem;

        .q-item{
            overflow: hidden;
            padding: 0;

            img{
                display: block;
            }
        }
    }
}

.follow-area{
    padding-left: 1.8rem;
    margin-bottom: 1rem;

    .q-btn__wrapper{
        background: $primary;
        color: $accent;
        border-radius: 50px;
        text-transform: capitalize;
        font-weight: bold;

        &:before{
            box-shadow: none;
        }
    }

    .q-ripple{
        border-radius: 50px;
    }
}